.card-custom-style {
  width: 30em;
  padding-top: 0.5em;
  height: fit-content(20em);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.navbar-logo {
  width: 2em;
  margin-bottom: -10px;
}

.navbar-title {
  font-size: x-large;
  background: linear-gradient(135deg, orange, orange 40%, cyan);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar-menu {
  border-bottom: 10px solid var(--gray-3);
}
